.nav-ul{
    padding: 5px;
    margin: 0px;
    background-color: black;
}

.nav-ul li {
    display: inline-block;
    padding: 10px;
}

.nav-ul li a{
    text-decoration: none;
    color: white;
}

.nav-right{
    text-align: right;
}